<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ref" value="C:\Projects\ElaPlatform\Ela\ElaLibrary\_ela\;C:\Projects\ElaPlatform\bin\;C:\Projects\ElaPlatform\Ela\Tests"/>
    <add key="stdLib" value="elalib"/>
    <add key="prelude" value="prelude"/>
  </appSettings>
</configuration>
