<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ref" value="C:\Projects\elaplatform\ela\StandardLibrary\Code\;c:\projects\elaplatform\ela\bin\;c:\projects\elaplatform\ela\tests\"/>
    <add key="stdLib" value="elalib"/>
    <add key="prelude" value="Prelude"/>
  </appSettings>
</configuration>
